.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body_home,
.body_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
